@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #D3F1FF;
}

.absolute-triangle{
    content: "";
  }
.title{
  color: rgba(0,59,107,1);
  font-weight: bold;
  position: relative;
  width: fit-content;
  margin: 100px auto;
  &::after{
    content: "";
    position: absolute;
    top: 100%;
    height: 5px;
    width: 120%;
    right: -10%;
    background-color: rgba(0,59,107,1);
  }
}
// skills
.skills-container {
  img{
    width: 158px;
    height: 158px;
  }

  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 17%;
    @media (max-width: 800px) {
      &{
        width: 40%;
      }
    }
    .skill-name{
      font-weight: bold;
      font-size: 30px;
      color: rgba(0,59,107,.85);
    }
  }

}
// project
.project{

  .project-name::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 110%;
    background-color: rgba(0,59,107,.85);
  }
  .project-img {
    width: 38rem;
  }
  .project-link{
    width: 480px;
  }
  .github-link{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
  }
  @media (max-width: 	1024px) {
    &{
      text-align: center;
    }
    .project-name{
      margin: 0 auto;
      &::before{
        left: -5%;
      }
    }
    .project-link{
      margin: 0 auto;
      width: 450px;
      justify-content: center;
    }

  }
  @media (max-width: 	1024px) {
    .project-link{
      flex-direction: column;
    }

  }
  
}